<div #rete class="rete">
</div>
<p-sidebar [(visible)]="sidebarVisible"
           [closeOnEscape]="true"
           [modal]="false"


           position="right"
           [style]="{'min-width': '60rem'}">
    <ng-template pTemplate="header">
    </ng-template>
    <app-item-info-view *ngIf="openedItem" (toggleVisible)="onItemInfoViewToggleVisible($event)"
                        (viewInitialized)="onItemViewInitialized()"
                        [editorService]="editorService"
                        (onItemEdit)="onItemEdit($event)"
                        [item]="openedItem"></app-item-info-view
    >

</p-sidebar>


<app-create-relationship-form [(visible)]="createRelationshipVisible"></app-create-relationship-form>

<p-dialog
          [(visible)]="createItemVisible"
          [style]="{ width: '900px' }"
          [header]="'Create a new ' + (editorService.getCreateItemType()?.toString()?.toLowerCase() + ' item' || 'item')"
          [closable]="true"
          [draggable]="true"
          [resizable]="true">

    <app-item-form
            [itemType]="createItemType"
            (onItemCreate)="onItemCreate($event)">
    </app-item-form>

</p-dialog>


    <app-settings [(visible)]="settingsVisible"></app-settings>

<input type="file" #fileInput style="display: none" (change)="onFileSelected($event)" accept=".json">





