<div #rete class="rete">
</div>
<p-sidebar *ngIf="openedItem" [(visible)]="sidebarVisible"
           [closeOnEscape]="true"
           [modal]="false"

           position="right"
           styleClass="p-sidebar-md">
    <ng-template pTemplate="header">
        <!--    <p class="text-2xl"> {{ this.openedItem.data.id + "           " }}         <span-->
        <!--      class="font-medium">{{ openedItemTitle }}</span></p>-->
    </ng-template>
    <app-item-info-view (toggleVisible)="onItemInfoViewToggleVisible($event)"
                        (viewInitialized)="onItemViewInitialized()"
                        [getRelationships]="editorService.getRelationships.bind(this)"
                        [item]="openedItem"></app-item-info-view
    >

</p-sidebar>

<p-dialog [(visible)]="createItemVisible"></p-dialog>

<p-dialog [(visible)]="createConnectionVisible" [draggable]="true"
          [resizable]="true" [style]="{ width: '20vw', }" header="Create relationship">
    <app-create-relationship-form [createRelationshipPair]="createConnectionPair" (onRelationshipCreation)="onRelationshipCreation($event)"></app-create-relationship-form>
</p-dialog>
