<div #rete class="rete">
</div>
<p-sidebar *ngIf="openedItem" [(visible)]="sidebarVisible"
           [closeOnEscape]="true"
           [modal]="false"


           position="right"
           [style]="{'min-width': '60rem'}">
    <ng-template pTemplate="header">
        <!--    <p class="text-2xl"> {{ this.openedItem.data.id + "           " }}         <span-->
        <!--      class="font-medium">{{ openedItemTitle }}</span></p>-->
    </ng-template>
    <app-item-info-view (toggleVisible)="onItemInfoViewToggleVisible($event)"
                        (viewInitialized)="onItemViewInitialized()"
                        [editorService]="editorService"
                        [item]="openedItem"></app-item-info-view
    >

</p-sidebar>


<app-create-relationship-form [visible]="createRelationshipVisible"></app-create-relationship-form>

<p-dialog
          [(visible)]="createItemVisible"
          [style]="{ width: '900px' }"
          [header]="'Create a new ' + (editorService.getCreateItemType()?.toString()?.toLowerCase() || 'item')"
          [closable]="true"
          [draggable]="true"
          [resizable]="true">

    <app-create-item-form
            (onItemCreate)="onItemCreate($event)"
            [visible]="createItemVisible">
    </app-create-item-form>

</p-dialog>




