<h3 class=" pb-1 pr-2">{{ data.data.id }}</h3>
<div class="title" data-testid="title">{{ shortLabel }}</div>
<div class="outputs">
    <div *ngFor="let output of data.outputs | keyvalue: sortByIndex" [attr.data-testid]="'output-'+output.key"
         class="output">
        <div class="output-title hidden" data-testid="output-title">
            {{ output.value?.label }}
        </div>
        <div [data]="{type: 'socket', side: 'output', key: output.key, nodeId: data.id, payload: output.value?.socket, seed: seed }" [emit]="emit"
             class="output-socket"
             data-testid="output-socket" refComponent></div>
    </div>
</div>
<div class="controls">
    <div *ngFor="let control of data.controls | keyvalue: sortByIndex" [attr.data-testid]="'control-'+control.key" [data]="{type: 'control', payload: control.value }"
         [emit]="emit" class="control hidden"
         refComponent></div>
</div>
<div class="inputs">
    <div *ngFor="let input of data.inputs | keyvalue: sortByIndex" [attr.data-testid]="'input-'+input.key"
         class="input">
        <div [data]="{type: 'socket', side: 'input', key: input.key, nodeId: data.id, payload: input.value?.socket, seed: seed }" [emit]="emit"
             class="input-socket"
             data-testid="input-socket" refComponent></div>
        <div *ngIf="!input.value?.control || !input.value?.showControl" class="input-title hidden"
             data-testid="input-title">
            {{ input.value?.label }}
        </div>
        <div [data]="{type: 'control', payload: input.value?.control }"
             [emit]="emit"
             [style.display]="input.value?.control && input.value?.showControl ? '' : 'none'" class="input-control hidden" data-testid="input-control"
             refComponent>
        </div>
    </div>
</div>
