<div class="card container py-4 px-4">
    <h1>Traceability tutor</h1>
    <div *ngIf="!currentUser; else loggedInTemplate">
        <div class="auth-container">
            <p-tabView [activeIndex]="activeIndex">
                <p-tabPanel header="Login">
                    <app-login (onSubmitLoginEvent)="handleLocalLogin($event)" class="form-container"></app-login>
<!--                    <p-button (onClick)="handleGithubLogin()" icon="pi pi-github"-->
<!--                              label="Sign in with GitHub"></p-button>-->
                </p-tabPanel>
                <p-tabPanel header="Sign Up">
                    <app-signup (onSubmitRegisterEvent)="handleSignUp($event)" class="form-container"></app-signup>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>

    <ng-template #loggedInTemplate>
        <div class="container authenticated flex gap-3">
            <p>Logged in as: {{ currentUser?.name }}</p>
            <p>You may now proceed to projects:</p>
            <p-button (onClick)="onProjectsClick()" class="pr-4" label="Go to projects"></p-button>
            <p-button (onClick)="logout()" icon="pi pi-sign-out" label="Logout"></p-button>
        </div>
    </ng-template>
</div>
