@use "sass:math"
@import "../vars"

svg
  overflow: visible
  position: absolute
  pointer-events: none
  path
    fill: none
    stroke-width: 15px
    stroke: steelblue
    pointer-events: auto

    &.selected
        stroke: red
        stroke-width: 15px


    &.highlighted
      stroke: yellow
